<main>
  <section>
    <!-- Image Slider Start -->
    <div id="slider-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#slider-carousel" data-slide-to="1"></li>
        <li data-target="#slider-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/img1.png" class="d-block w-100 img-fluid" alt="...">
          <div class="carousel-caption">
            <h2 class="caption-1-blue"> Multipurpose</h2>
            <p class="caption-2-black">Premium<br>
              Html Template</p>
            <h5 class="caption-3-black"> 30 skins, powerful features, great support, exclusive offer</h5>
            <div class="slider-button">
              <a href="javascript:void(0)" class="btn btn-primary" data-text="SHOP NOW!">SHOP NOW!</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/img2.jpg" class="d-block w-100 img-fluid" alt="...">
          <div class="carousel-caption">
            <h2 class="caption-1-white">Ready To</h2>
            <p class="caption-2-white">Use Unique <br>
              Demos</p>
            <h5 class="caption-3-white">Optimized for speed, website that sells</h5>
            <div class="slider-button">
              <a href="javascript:void(0)" class="btn btn-primary" data-text="SHOP NOW!">SHOP NOW!</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <video autoplay loop class="videoslider d-block w-100 img-fluid">
            <source src="../../../assets/video/Video.mp4" type="video/mp4" />
          </video>
          <div class="carousel-caption">
            <h2 class="caption-1-blue">Oberlo</h2>
            <p class="caption-2-white">Find Products for <br>
              Shop Store</p>
            <h5 class="caption-3-white">Oberlo allows you to easily import dropshipped products directly
              into your ecommerce store</h5>
            <div class="slider-button">
              <a href="javascript:void(0)" class="btn btn-primary" data-text="SHOP NOW!">SHOP NOW!</a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#slider-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slider-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Image Slider End -->

    <!-- Image Gallery Start -->
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-lg-6 col-md-12">
          <div class="row no-gutters">
            <div class="col-lg-6 col-md-6">
              <div class="gallery">
                <img src="../../../assets/img/gallery-1.jpg" alt="" class="img-fluid" />
                <a href="#" class="btn btn-white">SALE</a>
              </div>

              <div class="gallery">
                <img src="../../../assets/img/gallery-2.jpg" alt="" class="img-fluid" />
                <a href="#" class="btn btn-white">NEW</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="gallery gallery__full">
                <img src="../../../assets/img/gallery-3.jpg" alt="" class="img-fluid" />
                <a href="#" class="btn btn-white">WOMEN</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="row no-gutters">
            <div class="col-lg-6 col-md-6">
              <div class="gallery">
                <img src="../../../assets/img/gallery-4.jpg" alt="" class="img-fluid" />
                <a href="#" class="btn btn-white">MEN</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="gallery">
                <img src="../../../assets/img/gallery-6.jpg" alt="" class="img-fluid" />
                <a href="#" class="btn btn-white">ACCESORIES</a>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="gallery">
                <img src="../../../assets/img/gallery-5.jpg" alt="" class="img-fluid" />
                <a href="#" class="btn btn-white-zoom">SHOES</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Image Gallery End -->
  </section>
  <section>
    <div class="container">

      <div class="block">
        <h1 class="block block-title">TRENDING</h1>
        <div class="block block-description">TOP VIEW IN THIS WEEK</div>
      </div>
      <!-- Product card 1 starts -->
      <div class="row row-cols-2 row-cols-md-4">
        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/jeans.jpg.jpeg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/dark-blue-jeans.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>

              </div>
              <h5 class="card-name">
                <a href="product.html">Flared Shift Dress</a>
              </h5>
              <div class="card-price">
                $12
              </div>
              <!-- <div class="card--options">
                <div class="image--container" data-toggle="tooltip" title="Blue">
                  <img src="../../../assets/img/jeans.jpg.jpeg" alt="" data-toggle="tooltip" title="Blue" />
                </div>
                <div class="image--container">
                  <img src="../../../assets/img/jeans-blue.jpg" alt="" data-toggle="tooltip" title="Light Blue" />
                </div>
                <div class="image--container">
                  <img src="../../../assets/img/jeans-navy.jpg" alt="" data-toggle="tooltip" title="Green" />
                </div>
                <div class="image--container">
                  <img src="../../../assets/img/jeans-pink.jpg" alt="" data-toggle="tooltip" title="Pink" />
                </div>
                <div class="image--container">
                  <img src="../../../assets/img/jeans-orange.jpg" alt="" data-toggle="tooltip" title="Orange" />
                </div>
              </div> -->
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/t-shirt.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/blue-tshirt.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name">
                <a href="product.html">Flared Shift Dress</a>
              </h5>
              <div class="card-price">
                $17
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/greytshirt.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/women.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name"><a href="product.html">Flared Shift Dress</a></h5>
              <div class="card-price">$12</div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/mantshirt.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/man.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name"><a href="product.html">Flared Shift Dress</a></h5>
              <div class="card-price" style="color: red;">$14 <span
                  style="text-decoration: line-through; color: black; margin-left: 4px;">$24</span>
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>


            </div>
          </div>
        </div>

      </div>
      <!-- Product card 1 ends -->

      <!-- Product card 2 starts -->

      <div class="row row-cols-2 row-cols-md-4">
        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/white-coat.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/coat-full.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>

              </div>
              <h5 class="card-name">
                <a href="product.html">Flared Shift Dress</a>
              </h5>
              <div class="card-price">
                $56
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/shoe-front.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/shoe-side.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name">
                <a href="product.html">Flared Shift Dress</a>
              </h5>
              <div class="card-price">
                $78
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/outer.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/outer-full.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name"><a href="product.html">Flared Shift Dress</a></h5>
              <div class="card-price">$51</div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/cap-front.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/cap-back.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name"><a href="product.html">Flared Shift Dress</a></h5>
              <div class="card-price">
                $12
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Product card 2 ends -->
  </section>

  <section>
    <!-- product collection starts -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="gallery">
            <img src="../../../assets/img/new1.jpg" alt="" />
            <div class="image--text">
              <h6>
                FALL-WINTER CLEARANCE SALES
              </h6>
              <h3>
                GET UP TO <span class="text_blue">50% OFF</span>
              </h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="gallery">
            <img src="../../../assets/img/new2.jpg" alt="" />
            <div class="image--text">
              <h6>
                SUMMER <span class="text_blue">2018</span>
              </h6>
              <h3>
                NEW ARRIVALS
              </h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="gallery">
            <img src="../../../assets/img/new3.jpg" alt="" />
            <div class="image--text">
              <h6>
                NEW COLLECTION
              </h6>
              <h3><span class="text_blue">HANDBAGS</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- product collection ends -->

  </section>

  <section>
    <div class="container">

      <div class="block">
        <h1 class="block block-title">BEST SELLER</h1>
        <div class="block block-description">TOP SALE IN THIS WEEK</div>
      </div>
      <!-- Product card 3 starts -->
      <div class="row row-cols-2 row-cols-md-4">
        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/jeans.jpg.jpeg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/dark-blue-jeans.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>

              </div>
              <h5 class="card-name">
                <a href="product.html">Flared Shift Dress</a>
              </h5>
              <div class="card-price">
                $12
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/t-shirt.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/blue-tshirt.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name">
                <a href="product.html">Flared Shift Dress</a>
              </h5>
              <div class="card-price">
                $17
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/greytshirt.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/women.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name"><a href="product.html">Flared Shift Dress</a></h5>
              <div class="card-price">$12</div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/mantshirt.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/man.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name"><a href="product.html">Flared Shift Dress</a></h5>
              <div class="card-price" style="color: red;">$14 <span
                  style="text-decoration: line-through; color: black; margin-left: 4px;">$24</span>
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>


            </div>
          </div>
        </div>

      </div>
      <!-- Product card 3 ends -->

      <!-- Product card 4 starts -->

      <div class="row row-cols-2 row-cols-md-4">
        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/white-coat.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/coat-full.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>

              </div>
              <h5 class="card-name">
                <a href="product.html">Flared Shift Dress</a>
              </h5>
              <div class="card-price">
                $56
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/shoe-front.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/shoe-side.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name">
                <a href="product.html">Flared Shift Dress</a>
              </h5>
              <div class="card-price">
                $78
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/outer.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/outer-full.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name"><a href="product.html">Flared Shift Dress</a></h5>
              <div class="card-price">$51</div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/cap-front.jpg" class="card-img" alt="..." data-tooltip="Light Blue">
            <img src="../../../assets/img/cap-back.jpg" class="overlay" alt="..." data-tooltip="Light Blue">
            <div class="card--icon">
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick View">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="You need to login">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
              <div class="card--icon-list">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"><i
                    class="fa fa-balance-scale"></i>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-info">
                <a href="#">T-SHIRTS</a>
              </div>
              <div class="card-rating">
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star checked" style="margin-right: 6px;"></i>
                <i class="fa fa-star-half half" style="margin-right: 6px;"></i>
                <i class="fa fa-star empty" style="margin-right: 6px;"></i>
              </div>
              <h5 class="card-name"><a href="product.html">Flared Shift Dress</a></h5>
              <div class="card-price">
                $12
              </div>
              <div class="btn btn-secondary">
                <i class="fa fa-shopping-bag" style="padding-right: 10px;"></i> ADD TO CART
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Product card 4 ends -->
  </section>

  <section>
    <!-- blog news section starts -->
    <div class="container">

      <div class="block">
        <h1 class="block block-title">LATEST FROM BLOG</h1>
        <div class="block block-description">THE FRESHEST AND MOST EXCITING NEWS</div>
      </div>
      <!-- Product card 3 starts -->
      <div class="row row-cols-3 row-cols-md-3">
        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/news1.jpg" class="img-fluid" alt="..." data-tooltip="Light Blue">

            <div class="card-large">
              <div class="card-large-text">
                <div class="card-heading">
                  <a href="#">FASHION</a>
                </div>
                <h1 class="text_xlarge"><a href="#">INCIDIDUNT UT LABORE ET DOLORE</a></h1>
                <div class="card-details">
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card--footer">
                  <span class="pl-3 pr-3">
                    by <a href="#">ADRIAN</a> on January 14, 2017</span>
                  <span class="pl-3">
                    <a href="#"> <i class="fa fa-comment"></i> 7 </a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/news2.jpg" class="img-fluid" alt="..." data-tooltip="Light Blue">

            <div class="card-large">
              <div class="card-large-text">
                <div class="card-heading">
                  <a href="#">FASHION</a>
                </div>
                <h1 class="text_xlarge"><a href="#">INCIDIDUNT UT LABORE ET DOLORE</a></h1>
                <div class="card-details">
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card--footer">
                  <span class="pl-3 pr-3">
                    by <a href="#">ADRIAN</a> on January 14, 2017</span>
                  <span class="pl-3">
                    <a href="#"> <i class="fa fa-comment"></i> 7 </a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100">
            <img src="../../../assets/img/news3.jpg" class="img-fluid" alt="..." data-tooltip="Light Blue">

            <div class="card-large">
              <div class="card-large-text">
                <div class="card-heading">
                  <a href="#">FASHION</a>
                </div>
                <h1 class="text_xlarge"><a href="#">INCIDIDUNT UT LABORE ET DOLORE</a></h1>
                <div class="card-details">
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card--footer">
                  <span class="pl-3 pr-3">
                    by <a href="#">ADRIAN</a> on January 14, 2017</span>
                  <span class="pl-3">
                    <a href="#"> <i class="fa fa-comment"></i> 7 </a></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- blog news section ends -->
  </section>

  <section>
    <!-- Image Gallery starts -->
    <div class="container-fluid media-gallery">
      <div class="block">
        <h1 class="block block-title"><a href="#">@ FOLLOW</a> US ON</h1>
        <div class="block block-description">INSTAGRAM</div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="gallery_image">
            <img class="img-fluid" src="../../../assets/img/gallery-image1.jpg" alt="">
            <div class="eye-icon">
              <span class="middle-eye fa fa-eye"></span>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="gallery_image">
            <img class="img-fluid" src="../../../assets//img/gallery-image2.jpg" alt="">
            <div class="eye-icon">
              <span class="middle-eye fa fa-eye"></span>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="gallery_image">
            <img class="img-fluid" src="../../../assets//img/gallery-image3.jpg" alt="">
            <div class="eye-icon">
              <span class="middle-eye fa fa-eye"></span>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="gallery_image">
            <img class="img-fluid" src="../../../assets//img/gallery-image6.jpg" alt="">
            <div class="eye-icon">
              <span class="middle-eye fa fa-eye"></span>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="gallery_image">
            <img class="img-fluid" src="../../../assets//img/gallery-image4.jpg" alt="">
            <div class="eye-icon">
              <span class="middle-eye fa fa-eye"></span>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="gallery_image">
            <img class="img-fluid" src="../../../assets//img/gallery-image5.jpg" alt="">
            <div class="eye-icon">
              <span class="middle-eye fa fa-eye"></span>
            </div>
          </a>
        </div>
      </div>

    </div>
    <!-- Image Gallery ends -->

  </section>
  <section>
    <!-- service info section starts -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="icon d-flex">
            <a href="#">
              <i class="fa fa-truck fa-3x" style="margin-top:0.4rem;"></i>
            </a>
            <a href="#" class="text_large">
              <div class="ml-3">
                <h6>FREE SHIPPING</h6>
                <p class="text_gray_small">
                  Free shipping on all US order or order above $99
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="icon d-flex">
            <a href="#">
              <i class="fa fa-headphones fa-3x" style="margin-top:0.4rem;"></i>
            </a>
            <a href="#" class="text_large">
              <div class="ml-3">
                <h6 >SUPPORT 24/7</h6>
                <p class="text_gray_small">
                  Contact us 24 hours a day, 7 days a week
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="icon d-flex">
            <a href="#">
              <i class="fa fa-reply fa-3x" style="margin-top:0.4rem;"></i>
            </a>
            <a href="#" class="text_large">
              <div class="ml-3">
                <h6>
                  30 DAYS RETURN
                </h6>
                <p class="text_gray_small">
                  Simply return it within 24 days for an exchange.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- service info section ends -->
  </section>

</main>