// Colors

$blue: #2879fe;
$grey-700: #777777;
$border-color-gray: #e9e7e7;
$text-gray: #999;
$white: #ffffff;
$grey-900: #191919;
$default-font-size: 1.6rem;
$light-blue: #add8e6;
$orange: #fe9001;
$grey-800: #999999;
$light-black: #303030;
$light-white: #f7f8fa;

