@import '../../../sass/variables';

//Breadcrumb
.breadcrumb {
  background-color: $light-white;
  padding: 0.7rem 0 0.2rem 2.2rem;
}

.breadcrumb-item {
  font-size: 12px;
  position: relative;
  color: #777;
  a {
    color: $grey-700;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}
//Slick slider
.slick-slider {
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.slick-track {
  width: 0px;
}

.prev-slide {
  // background: url(assets/images/nav-icon.png) no-repeat scroll 0 0;
  left: -20%;
}

.next-slide {
  // background: url(assets/images/nav-icon.png) no-repeat scroll -24px 0px;
  right: 20%;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}

// Buttons
.btn-secondary {
  border: none;
  color: $white;
  background-color: $blue;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  outline: 0;
  padding: 6px 16px 9px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.2rem;
  width: 9.5rem;
  border-radius: 6px;
  display: none;
  &:hover {
    background-color: #0062cc;
  }
}

//Card

.card {
  border: none;
  background: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  display: inline-block;
  position: relative;
  transition: 0.4 ease-in-out;
  &:hover > .card-body {
    transform: translateY(-30px);
  }
  &:hover > .card-body .btn-secondary {
    display: inline;
  }

  &:hover > .card--icon {
    opacity: 1;
  }

  &:hover > .overlay {
    opacity: 1;
  }
  .card-body {
    background-color: $white;
    transition: ease-in 0.2s;
  }
  .card-large {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  .card-large-text {
    position: absolute;
    bottom: 2%;
    left: 0%;
    top: 11.5rem;
    padding: 1rem 1rem 0.5rem;
    background-color: #ffffff;
    text-align: center;
    margin: 0 1.5rem;
    border-radius: 6px;
    &:hover {
      padding-top: 2rem;
    }
    .card-heading {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0.03em;
      padding-bottom: 0.5rem;
      a:hover {
        color: $grey-900;
        text-decoration: none;
      }
    }
    .card-details {
      text-align: center;
      p {
        color: $grey-700;
        font-size: 0.8rem;
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
  }

  img {
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
    object-fit: cover;
  }

  &-body {
    text-align: center;
  }

  &-info {
    text-align: center;
    a:link,
    a:visited {
      text-decoration: none;
      color: $text-gray;
      font-size: 12px;
      line-height: 19px;
    }
    a:hover {
      color: $blue;
    }
  }
  &-price {
    font-size: 14px;
    font-weight: 500;
    color: $grey-900;
  }
  &-name {
    a:link,
    a:visited {
      text-decoration: none;
      color: $grey-900;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &--icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    opacity: 0;
    &-list {
      a:link,
      a:visited {
        text-decoration: none;
        color: $grey-900;
      }
      border: 1px solid $white;
      background-color: $white;
      width: 3rem;
      height: 3rem;
      text-align: center;
      border-radius: 50%;
      padding-top: 0.4rem;
      margin-bottom: 0.4rem;
      &:hover {
        background-color: $blue;
      }
      a:hover {
        color: $white;
      }
    }
  }

  &--footer {
    color: $grey-800;
    font-size: 0.694rem;
    margin-top: 1rem;
    a {
      color: black;
    }
    span {
      a:hover {
        color: blue;
      }
      &:first-child > a:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }
}

// Customized Star Rating
.checked,
.half {
  color: orange;
}
.empty {
  color: $border-color-gray;
}

// Block Title
.block {
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: $grey-900;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &-description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
}

//Social Media Icons
.container-fluid {
  background-color: $light-white;
  ul {
    padding: 1rem;
    li {
      color: $border-color-gray;
      cursor: pointer;
      &:hover{
        color: $grey-900;
      }
    }
  }
}

ul > li {
  list-style-type: none;
  padding-top: 0.5rem;
}