@import "../../../sass/variables";

.scroll-to-top {
  position: fixed;
  bottom: 4rem;
  right: 0.3rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

button:not(:disabled) {
  cursor: pointer;
  border: none;
  background-color: rgba(40, 121, 254, 0.75);
  color: $white;
  &:hover {
    background-color: $light-black;
  }
}
