<footer class="footer font-small unique-color-dark">
  <div class="footer_header">
    <div class="container">

      <div class="row d-flex">

        <div class="col-md-4 col-lg-4 text-md-left">
          <h6 class="footer_title">BE IN TOUCH WITH US!</h6>
        </div>
        <div class="col-md-5 col-lg-5 text-md-left">
          <form class="input-group">
            <input type="text" class="form-control" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your e-mail'" placeholder="Enter your e-mail" aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-black" type="button">JOIN US</button>
            </div>
          </form>
        </div>

        <div class="col-md-3 col-lg-3 text-md-right footer_icon">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>

      </div>

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container  text-md-left mt-4">

    <div class="row mt-3">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <h6 class="footer-link-title">CATEGORIES</h6>
        <p>
          <a href="#!">Women</a>
        </p>
        <p>
          <a href="#!">Men</a>
        </p>
        <p>
          <a href="#!">Accesories</a>
        </p>
        <p>
          <a href="#!">Shoes</a>
        </p>
        <p>
          <a href="#!">New Arrivals</a>
        </p>
        <p>
          <a href="#!">Clearance</a>
        </p>

      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <h6 class="footer-link-title">MY ACCOUNT</h6>
        <p>
          <a href="#!">Orders</a>
        </p>
        <p>
          <a href="#!">Compare</a>
        </p>
        <p>
          <a href="#!">Wishlist</a>
        </p>
        <p>
          <a href="#!">Login</a>
        </p>
        <p>
          <a href="#!">Register</a>
        </p>

      </div>
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <h6 class="footer-link-title">ABOUT</h6>
        <p class="text-para">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et
          dolore. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, seddo eiusmod tempor incididunt ut labore
          etdolore.</p>

      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <h6 class="footer-link-title">CONTACTS</h6>
        <p class="text-para">
          <span style="color: black;">Address:</span> 2548 Broaddus Maple Court Avenue, Madisonville KY 4783, United
          States of America <br>

          <span style="color: black;">Phone:</span> +777 2345 7885; +777 2345 7886 <br>

          <span style="color: black;"> Hours:</span> 7 Days a week from 10 am to 6 pm <br>

          <span style="color: black;"> E-mail:</span> info@mydomain.com
        </p>

      </div>

    </div>

  </div>

  <!-- Copyright -->
  <div class="footer-copyright row d-flex align-items-center">

    <div class="col-md-7 col-lg-8">
      <div class="navbar-brand">
        <img src="../../../assets/img/logo.png" alt="Logo" style="cursor: pointer;" class="logo" width="30" height="30"
          alt="">
        <p class="text_gray_small">
          © Wokiee 2020 All Rights Reserved

        </p>
      </div>

    </div>

    <div class="col-md-5 col-lg-4 ml-lg-0">

      <!-- Payment Gateway -->
      <div class="payment-gateway text-md-right">
        <span>
          <a href="#">
            <img src="../../../assets/img/stripe.png" class="img-fluid" alt="">
          </a>
        </span>
        <span>
          <a href="#">
            <img src="../../../assets/img/paypal.png" class="img-fluid" alt="">
          </a>
        </span>
        <span>
          <a href="#">
            <img src="../../../assets/img/visa.png" class="img-fluid" alt="">
          </a>
        </span>
        <span>
          <a href="#">
            <img src="../../../assets/img/mastercard.png" class="img-fluid" alt="">
          </a>
        </span>
        <span>
          <a href="#">
            <img src="../../../assets/img/discover.pmg.jpg" class="img-fluid" alt="">
          </a>
        </span>
        <span>
          <a href="#">
            <img src="../../../assets/img/american.png" class="img-fluid" alt="">
          </a>
        </span>
      </div>

    </div>

  </div>

  <!-- Copyright -->

</footer>