<div id="mySidenav" class="sidenav">
  <a href="https://www.youtube.com/playlist?list=PLjvK4DAxOmmVqXYUbOFUTqdl0b7pg7gN1" id="video"><i class="fa fa-play-circle fa-2x" style="padding-left: 5px;"></i>
   <span style="padding-left:18px;">Presentation&nbsp;<strong>VIDEO</strong></span> </a>
  <a href="#" id="demo">BOX <span style="padding-left: 18px;">USE DEMO WITH BOX</span></a>
  <a href="#" id="rtl">RTL<span style="padding-left: 26px;">USE DEMO WITH RTL</span></a>
  <a href="#" id="swatch"><img src="../../../assets/img/colorswatch.png" alt="" class="loading"
      data-was-processed="true"></a>
</div>